In [18]:
import pandas as pd
import numpy as np

In [19]:
cleaned_df = pd.read_csv('../cleaned_fpl.csv')
df = pd.read_csv('../MS2/fpl_two_seasons.csv')

In [20]:
df.head()

,season,name,position,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,total_points,transfers_balance,transfers_in,transfers_out,value,yellow_cards,GW,form,home_team,away_team
0,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,2,...,0,0,0,0,55,0,1,0.000,Burnley,Brighton
1,2021-22,Aaron Connolly,FWD,0,0,-2,0,1.1,72,12,...,1,-1682,1899,3581,55,0,2,0.000,Brighton,Watford
2,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,22,...,0,-737,2897,3634,55,0,3,0.050,Brighton,Everton
3,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,32,...,0,-3682,1857,5539,54,0,4,0.033,Brentford,Brighton
4,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,42,...,0,-2548,301,2849,54,0,5,0.025,Brighton,Leicester

In [21]:
cleaned_df.head()

,player_id,season,GW,name,position,team,assists,bonus,clean_sheets,fixture,...,is_upcoming_home,blank_gw,position_DEF,position_FWD,position_GK,position_MID,team_no,opp_team_no,upcoming_blank,upcoming_total_points
0,6,2016-17,1,Héctor Bellerín,DEF,Arsenal,0.0,0.0,0.0,8.0,...,0.0,0,1,0,0,0,0,14,0,9.0
1,6,2016-17,2,Héctor Bellerín,DEF,Arsenal,0.0,3.0,1.0,13.0,...,0.0,0,1,0,0,0,0,13,0,2.0
2,6,2016-17,3,Héctor Bellerín,DEF,Arsenal,0.0,0.0,0.0,28.0,...,1.0,0,1,0,0,0,0,27,0,2.0
3,6,2016-17,4,Héctor Bellerín,DEF,Arsenal,0.0,0.0,0.0,31.0,...,0.0,0,1,0,0,0,0,22,0,2.0
4,6,2016-17,5,Héctor Bellerín,DEF,Arsenal,0.0,0.0,0.0,43.0,...,1.0,0,1,0,0,0,0,11,0,11.0

In [22]:
# add the 'Team' column from cleaned_df to df based on the joins on 'player_id'='element', 'season' and 'fixture'
df = df.merge(cleaned_df[['player_id', 'season', 'fixture', 'team']], left_on=['element', 'season', 'fixture'], right_on=['player_id', 'season', 'fixture'], how='left')
df.head()

,season,name,position,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,transfers_in,transfers_out,value,yellow_cards,GW,form,home_team,away_team,player_id,team
0,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,2,...,0,0,55,0,1,0.000,Burnley,Brighton,72,Brighton
1,2021-22,Aaron Connolly,FWD,0,0,-2,0,1.1,72,12,...,1899,3581,55,0,2,0.000,Brighton,Watford,72,Brighton
2,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,22,...,2897,3634,55,0,3,0.050,Brighton,Everton,72,Brighton
3,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,32,...,1857,5539,54,0,4,0.033,Brentford,Brighton,72,Brighton
4,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,42,...,301,2849,54,0,5,0.025,Brighton,Leicester,72,Brighton

In [23]:
df[df['team'].isnull()].head()

Empty DataFrame
Columns: [season, name, position, assists, bonus, bps, clean_sheets, creativity, element, fixture, goals_conceded, goals_scored, ict_index, influence, kickoff_time, minutes, own_goals, penalties_missed, penalties_saved, red_cards, saves, selected, team_a_score, team_h_score, threat, total_points, transfers_balance, transfers_in, transfers_out, value, yellow_cards, GW, form, home_team, away_team, player_id, team]
Index: []

[0 rows x 37 columns]

In [24]:
df[(df['team']!=df['home_team']) & (df['team']!=df['away_team'])].head()

Empty DataFrame
Columns: [season, name, position, assists, bonus, bps, clean_sheets, creativity, element, fixture, goals_conceded, goals_scored, ict_index, influence, kickoff_time, minutes, own_goals, penalties_missed, penalties_saved, red_cards, saves, selected, team_a_score, team_h_score, threat, total_points, transfers_balance, transfers_in, transfers_out, value, yellow_cards, GW, form, home_team, away_team, player_id, team]
Index: []

[0 rows x 37 columns]

In [25]:
# cumsum the 'total_points', 'goals_scored', 'assists', 'minutes', 'bonus' and 'clean_sheets' column grouped by 'element' and 'season' to create a new columns
df[['total_points_sum', 'goals_scored_sum', 'assists_sum', 'minutes_sum', 'bonus_sum', 'clean_sheets_sum']] = df.groupby(['element', 'season'])[['total_points', 'goals_scored', 'assists', 'minutes', 'bonus', 'clean_sheets']].cumsum()
df.head()

,season,name,position,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,home_team,away_team,player_id,team,total_points_sum,goals_scored_sum,assists_sum,minutes_sum,bonus_sum,clean_sheets_sum
0,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,2,...,Burnley,Brighton,72,Brighton,0,0,0,0,0,0
1,2021-22,Aaron Connolly,FWD,0,0,-2,0,1.1,72,12,...,Brighton,Watford,72,Brighton,1,0,0,45,0,0
2,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,22,...,Brighton,Everton,72,Brighton,1,0,0,45,0,0
3,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,32,...,Brentford,Brighton,72,Brighton,1,0,0,45,0,0
4,2021-22,Aaron Connolly,FWD,0,0,0,0,0.0,72,42,...,Brighton,Leicester,72,Brighton,1,0,0,45,0,0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51952 entries, 0 to 51951
Data columns (total 42 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season             51952 non-null  object
 1   name               51952 non-null  object
 2   position           51952 non-null  object
 3   assists            51952 non-null  int64
 4   bonus              51952 non-null  int64
 5   bps                51952 non-null  int64
 6   clean_sheets       51952 non-null  int64
 7   creativity         51952 non-null  float64
 8   element            51952 non-null  int64
 9   fixture            51952 non-null  int64
 10  goals_conceded     51952 non-null  int64
 11  goals_scored       51952 non-null  int64
 12  ict_index          51952 non-null  float64
 13  influence          51952 non-null  float64
 14  kickoff_time       51952 non-null  object
 15  minutes            51952 non-null  int64
 16  own_goals          51952 non-null  int64
 17  penalties_missed   51952 non-null  int64
 18  penalties_saved    51952 non-null  int64
 19  red_cards          51952 non-null  int64
 20  saves              51952 non-null  int64
 21  selected           51952 non-null  int64
 22  team_a_score       51952 non-null  int64
 23  team_h_score       51952 non-null  int64
 24  threat             51952 non-null  int64
 25  total_points       51952 non-null  int64
 26  transfers_balance  51952 non-null  int64
 27  transfers_in       51952 non-null  int64
 28  transfers_out      51952 non-null  int64
 29  value              51952 non-null  int64
 30  yellow_cards       51952 non-null  int64
 31  GW                 51952 non-null  int64
 32  form               51952 non-null  float64
 33  home_team          51952 non-null  object
 34  away_team          51952 non-null  object
 35  team               51952 non-null  object
 36  total_points_sum   51952 non-null  int64
 37  goals_scored_sum   51952 non-null  int64
 38  assists_sum        51952 non-null  int64
 39  minutes_sum        51952 non-null  int64
 40  bonus_sum          51952 non-null  int64
 41  clean_sheets_sum   51952 non-null  int64
dtypes: float64(4), int64(31), object(7)
memory usage: 16.6+ MB

In [26]:
df.drop(columns=['player_id'], inplace=True)

In [37]:
# Turn each row into a textual feature that sumarrizes the key statistics of that player up to that fixture for embedding purposes
df['feature_text'] = (
    "Player ID: " + df['element'].astype(str) +
    ", Player Name: " + df['name'].astype(str) +
    ", Season: " + df['season'].astype(str) +
    ", Team: " + df['team'].astype(str) +
    ", Gameweek: " + df['GW'].astype(str) +
    ", Position: " + df['position'].astype(str) +
    ", Fixture: " + df['fixture'].astype(str) +
    ", Home Team: " + df['home_team'].astype(str) +
    ", Away Team: " + df['away_team'].astype(str) +
    ", Kickoff Time: " + df['kickoff_time'].astype(str) +
    ", Total Points This Gameweek: " + df['total_points'].astype(str) +
    ", Goals Scored This Gameweek: " + df['goals_scored'].astype(str) +
    ", Assists This Gameweek: " + df['assists'].astype(str) +
    ", Minutes Played This Gameweek: " + df['minutes'].astype(str) +
    ", Bonus Points This Gameweek: " + df['bonus'].astype(str) +
    ", Clean Sheets This Gameweek: " + df['clean_sheets'].astype(str) +
    ", Yellow Cards This Gameweek: " + df['yellow_cards'].astype(str) +
    ", Red Cards This Gameweek: " + df['red_cards'].astype(str) +
    ", Own Goals This Gameweek: " + df['own_goals'].astype(str) +
    ", Penalties Saved This Gameweek: " + df['penalties_saved'].astype(str) +
    ", Penalties Missed This Gameweek: " + df['penalties_missed'].astype(str) +
    ", Saves: " + df['saves'].astype(str) +
    ", Form Score: " + df['form'].astype(str) +
    ", Value: " + df['value'].astype(str) +
    ", bonus point system: " + df['bps'].astype(str) +    
    ", ict_index: " + df['ict_index'].astype(str) +
    ", Influence: " + df['influence'].astype(str) +
    ", Creativity: " + df['creativity'].astype(str) +
    ", Threat: " + df['threat'].astype(str) +
    ", Total Points So Far: " + df['total_points_sum'].astype(str) +
    ", Goals Scored So Far: " + df['goals_scored_sum'].astype(str) +
    ", Assists So Far: " + df['assists_sum'].astype(str) +
    ", Minutes Played So Far: " + df['minutes_sum'].astype(str) +
    ", Bonus Points So Far: " + df['bonus_sum'].astype(str) +
    ", Clean Sheets So Far: " + df['clean_sheets_sum'].astype(str)
)

In [38]:
df.to_csv('../MS3/two_seasons_cleaned.csv', index=False)